<div class="container mt-2">
  <ng-container *ngIf="clients | async as ListClients; else faillureOrLoading">
    <div class="card">
      <div class="card-header bg-primary text-white">Clients</div>
      <div class="card-body" *ngIf="clients">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleChearcheClient()">
            <div class="input-group">
              <label class="input-group-text">Mot-clé :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button type="submit" class="btn btn-info">
                <i class="bi bi-search"></i> Rechercher
              </button>
            </div>
          </form>
        </div>
        <table class="table mt-3">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of clients | async">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>
              <button (click)="handleDeleteClient(c)" class="btn btn-danger me-2">
                <i class="bi bi-trash"></i> Supprimer
              </button>
              <button (click)="handleCompteCLient(c)" class="btn btn-success">
                <i class="bi bi-list"></i> Comptes
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #faillureOrLoading>
    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Chargement en cours...
    </ng-template>
  </ng-template>
</div>
